*-mxdev.txt
*.egg-info
*.log
*.mo
*.py?
*.swp
.installed.cfg
.installed.txt
.make-sentinels
.mr.developer.cfg
.vscode
.vscode/
bin/
build/
buildout.cfg
coverage/
develop-eggs/
dist/
eggs/
etc/
instance/
parts/
sources/
src/
var/
venv/
